.App {
  /* max-width: 1570px; */
  width: 80%;
  margin: 0 auto;
  background-color: rgb(12, 12, 12);
  padding: 1rem;
  min-height: calc(100vh - 80px - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
}
