.edit__form {
  display: flex;
  flex-direction: column;
}

.edit__input {
  font-size: 1rem;
  padding: 0.3rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  text-align: center;
}

.searched {
  border: 1px solid grey;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.response {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 810px;
}
