.random {
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.random img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 0.3rem;
  margin: 1rem 0;
  object-fit: contain;
}

.random__reloadBtn {
  margin: 2rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  transition: all 500ms ease-in;
  position: absolute;
  bottom: 5rem;
}

.random__reloadBtn:hover {
  background-color: rgb(97, 206, 102);
}

.random__reloadBtn:active {
  transform: scale(0.95);
}
