.recette {
  text-align: center;
}

.recette h2 {
  margin: 2rem 0;
}

.recette ul {
  list-style: none;
  width: fit-content;
  text-align: left;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.recette__addBtn {
  padding: 0.3rem;
  width: fit-content;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.recette__addBtn:hover {
  background-color: rgb(188, 238, 255);
}

.recette__addBtn:active {
  transform: scale(0.95);
}
